.wy-nav-content {
    max-width: none;
}

.wy-side-nav-search {
    background-color: green;
}

pre.literal-block, div[class^='highlight'] pre, .linenodiv pre {
    font-size: 3.50em;
}

.code-block-caption {
    text-align: left
}